.chatText {
  padding: 0 7px 3px 7px;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
}

.textBackground {
  height: 100%;
}

.text {
  font-size: clamp(0.4rem, calc(0.6rem + 0.9vw), 1.2rem);
}